<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id
        omnis nihil iure hic aut labore sit repudiandae ea pariatur distinctio
        vitae ullam vero quis iusto, obcaecati rerum ratione consequuntur!
      </div>
    </div>
  </div>
</div>
